tqdm
easydict
smplx
imageio
imageio[ffmpeg]
matplotlib
ipdb
pytorch-metric-learning                         # For one-shot action recognition
baseballcv==0.1.2
ultralytics==8.3.93
rtmlib -i https://pypi.org/simple
onnxruntime